<!DOCTYPE HTML>
<html>

<head>
    <title>Menú</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <h1><strong>Jura Consulting</strong></h1>
            <nav>
                <ul>
                    <li><a href="#footer" class="icon solid fa-plus-circle"></a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main">
            <article class="thumb">
                <a href="../images/fulls/01.png" class="image"><img src="../images/thumbs/01.png" alt="" /></a>
                <h2>Piggy Bank</h2>
                <a href="https://juliopreciadol.firebaseapp.com/"><p>Alcancia de ahorros, administrador de gastos y estadísticas</p></a>
            </article>
        </div>

        <!-- Footer -->
        <footer id="footer" class="panel">
            <div class="inner split">
                <div>
                    <section>
                        <h2>Otras aplicaciones</h2>
                        <!--
                        <ul class="icons">
                            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                            </li>
                            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
                            </li>
                            <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                            <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                            <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a>
                            </li>
                        </ul>
                        -->
                    </section>
                </div>
                <div>
                    <section>
                        <h2>Apuntes Rápidos</h2>
                        <form method="post" action="#">
                            <div class="fields">
                                <div class="field">
                                    <input type="text" name="titulo" id="titulo" placeholder="Título del apunte" />
                                </div>
                                <div class="field">
                                    <textarea name="apunte" id="apunte" rows="4" placeholder="Apunte"></textarea>
                                </div>
                            </div>
                            <ul class="actions">
                                <li><input type="submit" value="Guardar" class="primary" /></li>
                                <li><input type="reset" value="Borrar" /></li>
                            </ul>
                        </form>
                    </section>
                </div>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.poptrox.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>

</body>

</html>