<head>
    <title>Introduce el usuario</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
</head>

<body>

    <div class="jumbotron jumbotron-fluid text-center" style="height: 100%; background-color: #272833">
        <div class="container">
            <h1 style="color: #ffffff">JuraConsulting</h1>
            <div class="row">
                <div class="col-3">
                        <img src="../img/piggy_bank.svg" class="rounded-circle"> 
                </div>
            </div>
        </div>
    </div>

    <footer class="fixed-bottom" style="background-color: #b80707">
        <div class="footer-copyright text-center py-4">
           © JuraConsulting. Todos los derechos reservados.
        </div>
    </footer>
    <script src="../assets/js/bootstrap.min.js"></script>
</body>