<!DOCTYPE HTML>
<html>

<head>
    <title>Menú</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="../assets/css/noscript.css" />
    </noscript>
</head>

<body class="is-preload">


    <!-- Header -->
    <header id="header">
        <h1><strong>Jura Consulting</strong></h1>
    </header>

    <!-- Main -->
    <div id="login">
        <h2 class="align-center">Ingresar</h2>
        <form method="post" action="#" id="ingresar">
            <div class="fields">
                <div class="field">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="field">
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                </div>
                <div class="field">
                    <input type="submit" value="Ingresar" class="primary">
                </div>
            </div>
        </form>
    </div>

    <!-- Scripts -->
    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.poptrox.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>
    <script> require('../index.js') </script>

</body>

</html>